---
layout: layout.njk
---

<body class="bg-gray-100 flex flex-col items-center p-4" x-data="{ open: false, filterIngredients: false }">

    <h1 class="text-2xl font-bold text-center mb-8">Rezepte Manager</h1>

    <div class="max-w-lg w-full mb-8 p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-xl font-semibold mb-4">Zufälliges Rezept</h2>
        
        <button id="toggleSection" class="flex items-center text-blue-500 mb-4 focus:outline-none" @click="open = !open">
            <span id="caret" :class="{'rotate-90': open, 'transform': true, 'transition-transform duration-200': true}">&#x25B6;</span>
            <span class="ml-2">Erweiterte Parameter</span>
        </button>
        
        <div id="expandableSection" x-show="open" x-transition>
            <div class="mb-4">
                <fieldset>
                    <legend class="text-lg">Art</legend>
                    <div>
                        <label><input type="radio" name="options" value="all" checked> Alle</label>
                    </div>
                    <div>
                        <label><input type="radio" name="options" value="sweet"> Süß</label>
                    </div>
                    <div>
                        <label><input type="radio" name="options" value="sour"> Sauer</label>
                    </div>
                </fieldset>
            </div>
            <div class="mb-4">
                <h3 class="text-lg">Zutaten</h3>
                <label class="flex items-center">
                    <input type="checkbox" class="mr-2" checked @click="filterIngredients = !filterIngredients"> Alle
                </label>
            </div>
            <div x-show="filterIngredients" x-transition x-data="ingredientsFilterSection">
                <div class="flex items-center mb-4">
                    <input type="text" placeholder="Name der Zutat" class="border border-gray-300 rounded p-2 flex-grow" x-model="ingredient" @keyup.enter="addIngredient(ingredient)"/>
                    <button class="ml-2 bg-blue-500 text-white rounded p-2" @click="addIngredient(ingredient)">Hinzufügen</button>
                </div>
                <div class="mb-4">
                    <template x-for="ingredient in ingredientsToFilter">
                        <span class="bg-blue-100 text-blue-800 py-1 px-2 rounded-full text-xs mr-2">
                            <span class="text-blue-800 cursor-pointer p-1" @click="removeIngredient(ingredient)">x</span>
                            <span x-text="ingredient"></span>
                        </span>
                    </template>
                </div>
            </div>
        </div>

        <div>
            <button class="bg-blue-600 text-white rounded p-2">Rezept vorschlagen</button>
        </div>
    </div>

    <div class="max-w-lg w-full p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-xl font-semibold mb-4">Neues Gericht</h2>
        <a href="/add-meal" class="bg-blue-600 text-white rounded p-2">Starten</a>
    </div>

</body>
</html>
